<% provide(:title, 'About the Website') %>

    <h1>About the Website</h1>

    <p> I'm a master student in Electrical and Computer Engineering department in Carnegie Mellon University.</p>
    <p> I love movies, that's why I chose to create Movie Time as my individual website for
        18641 Introduction to Software Engineering course.</p>
    <p> The functions I want this website to realize are as follows:</p>
    <p> As a user, you can sign in and sign out of the website.When you are signed in,
        you can 1) edit and update your profile.
                2) create your own comments about different movies and share them with others.
                3) read other users profile and their movie comments.
    </p>