<% provide(:title, 'About the Website') %>

    <h1>About the Website</h1>

    <p> I'm a master student in Electrical and Computer Engineering department in Carnegie Mellon University.</p>
    <p> I love movies, that's why I choose to create Mtime as my individual website for
        18641 Introduction to Software Engineering course.</p>
    <p> The functionality I want to realize in this website is that:</p>
    <p> As a guest, you can view the comments and movie posters and information
        but you can not post your own comments.</p>
    <p> As a user, you can sign in and sign out and when sign in,
        you can create your own comments about different movies and share with others.</p>



