<footer class="footer">
 <strong>
    Individual Website
    by <a href = "http://www.facebook.com/#!/hao.yao.7"> Hao Yao </a>
 </strong>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>

