<footer class="footer">
    <div class="container">

  <div style="text-align:left">
    <embed src="http://www.xiami.com/widget/2188798_1770852990,1769874028,1769874032,1769874047,_200_120_5695c1_457cb4_1/multiPlayer.swf"
            type="application/x-shockwave-flash" width="200" height="120" wmode="opaque"></embed>
  </div>
  <strong>
    Individual Website
    by <a href = "http://www.facebook.com/#!/hao.yao.7"> Hao Yao </a>
  </strong>

  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  </div>
</footer>

